/* global */
.react-datepicker-popper{
  z-index: 99999;
}
.react-datepicker-wrapper {
  width: 100%;
}

/* component */
.datepicker {
  width: 100%;
  height: 44px;
  padding-left: 10px;

  border: solid 1px #D4D4D4;
  border-radius: 5px;
  &:focus,
  &:active,
  &:focus-visible,
  &:focus-within {
    outline: none;
    border: solid 1px #007AD9 !important;
  }
}
