*.md
codecov.yml
commitlint.config.js
docker-compose.build.yaml
docker-compose.yaml
LICENSE

.dockerignore
.eslintcache
packages/**/Dockerfile
packages/**/Dockerfile.dev
!.yarnrc.yml

.dockerignore
.editorconfig
.env
.env.build
.env.sample
.gh-token
.gitignore
.gitlab-ci.yml

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

packages/api/dist
packages/app/build
