.*
*.md
codecov.yml
commitlint.config.js
docker-compose.build.yaml
docker-compose.yaml
LICENSE
optional
packages/app/.next/cache
packages/app/.next/server/static/development

.dockerignore
.eslintcache
packages/**/Dockerfile
packages/**/Dockerfile.dev
.npm