.*
*.md
codecov.yml
commitlint.config.js
docker-compose.build.yaml
docker-compose.yaml
LICENSE
optional

node_modules
packages/*/node_modules

.dockerignore
.eslintcache
packages/**/Dockerfile
packages/**/Dockerfile.dev
.npm