
# Common variables

APP_URL=https://emjpm.num.social.gouv.fr
NODE_ENV=production
SENTRY_PUBLIC_DSN=https://xxxxxxxxxxx@sentry.com/N
SENTRY_ENV=production

# API variables

JWT_KEY=abc120d67
DATABASE_URL=psql://api:apiPassword@db/emjpm_prod
SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=25
SMTP_FROM=contact@emjpm.beta.gouv.fr
SMTP_USER=xxxx
SMTP_PASS=yyyy

