version: "3"

#
# In development we only start postgres server
#
# Listening ports :
#  - 5434 : postgres
#

services:
  db:
    image: postgres:11
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      # master password
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=test
      # API dedicated password
      - POSTGRES_API_USER=api
      - POSTGRES_API_USER_PASSWORD=test
      - POSTGRES_READONLY_USER_NAME=readonly
      - POSTGRES_READONLY_USER_PASSWORD=readonlyPassword
    ports:
      - 5434:5432
    volumes:
      - contrib-pgdata:/var/lib/postgresql/data
      - ./packages/api/db/postgres-init.sh:/docker-entrypoint-initdb.d/postgres-init.sh
volumes:
  contrib-pgdata:
