version: "3"

#
# In production we can start more services
#
# Listening ports :
#
#  - 5434 : postgres
#  - 5000 : frontend
#  - 4000 : api
#  - 3003 : metabase
#

services:
  db:
    environment:
      # master password
      - POSTGRES_PASSWORD=masterPassword
      # API dedicated password
      - POSTGRES_API_USER_PASSWORD=apiPassword
      - POSTGRES_READONLY_USER_PASSWORD=readonlyPassword
  # For production only
  metabase:
    restart: always
    image: metabase/metabase
    volumes:
      # persist config
      - metabase:/data
    environment:
      - MB_DB_FILE=/data/metabase.db
    ports:
      - 3003:3000
  # For development only, fake SMTP
  maildev:
    image: djfarrelly/maildev
    restart: always
    ports:
      - 1080:80
  # Useful to run arbitrary knex commands
  knex:
    restart: "no"
    image: ${BASE_IMAGE:-socialgouv/emjpm:master}
    env_file: .env
  # Production API (NodeJS)
  api:
    restart: always
    build:
      context: packages/api
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: ${BASE_IMAGE:-socialgouv/emjpm:master}
    volumes:
      - uploads:/app/uploads
    env_file: .env
    ports:
      - 4000:4000
    depends_on:
      - db
  # Production frontend (nginx)
  frontend:
    restart: always
    env_file: .env
    build:
      context: ./packages/app
      dockerfile: Dockerfile
      args:
        BASE_IMAGE: ${BASE_IMAGE:-socialgouv/emjpm:master}
    ports:
      - 5000:80

volumes:
  metabase:
  uploads:
