version: "3"
services:
  db:
    environment:
      # master password
      - POSTGRES_PASSWORD=masterPassword
      # API dedicated password
      - POSTGRES_API_USER_PASSWORD=apiPassword
  api:
    container_name: emjpm-api
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file: .env
    ports:
      - 4000:4000
    depends_on:
      - db
    links:
      - db