version: "3.8"

#
# In development we only start postgres server
#
# Listening ports :
#  - 5000 : hasura
#  - 5434 : postgres
#

services:
  db:
    image: mdillon/postgis:11
    environment:
      # master password
      - POSTGRES_USER=emjpm
      - POSTGRES_PASSWORD=test
    ports:
      - "5434:5432"
    volumes:
      - emjpm-pgdata:/var/lib/postgresql/data
    restart: always

  adminer:
    image: adminer:4.7
    ports:
      - "8081:8080"

  # maildev:
  #   image: djfarrelly/maildev
  #   command: bin/maildev --web 1080 --smtp 1025 --hide-extensions STARTTLS
  #   ports:
  #     - "1025:1025"
  #     - "1080:1080"
  #   restart: always

  hasura:
    image: emjpm_hasura
    build:
      context: .
      dockerfile: ./packages/hasura/Dockerfile
    ports:
      - 5000:8080
    depends_on:
      - db
      - api
    restart: always
    environment:
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET:-admin}
      HASURA_GRAPHQL_DATABASE_URL: postgres://emjpm:test@db:5432/emjpm
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_JWT_SECRET: '{"type": "RS256","jwk_url": "http://api:4000/api/auth/jwks"}'
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: "anonymous"
      HASURA_WEB_HOOK_BASE_URL: ${HASURA_WEB_HOOK_BASE_URL:-http://api:4000}
      HASURA_WEB_HOOK_SECRET: ${HASURA_WEB_HOOK_SECRET:-localdevunsecuresecret}

  hasura_console:
    image: emjpm_hasura_console
    build:
      context: .
      dockerfile: ./packages/hasura/console/Dockerfile
    volumes:
      - ./packages/hasura/metadata:/hasura/metadata:rw
      - ./packages/hasura/migrations:/hasura/migrations:rw
      - ./packages/hasura/seeds:/hasura/seeds:rw
    ports:
      - 9695:9695
      - 9693:9693
    depends_on:
      - db
      - api
    restart: always
    environment:
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET:-admin}
      HASURA_CONSOLE_INTERNAL_HOSTNAME: ${HASURA_CONSOLE_INTERNAL_HOSTNAME:-hasura_console}
      HASURA_CONSOLE_PORT: 9695
      HASURA_CONSOLE_API_PORT: 9693
      HASURA_GRAPHQL_ENDPOINT: http://localhost:5000
      HASURA_INTERNAL_HOSTNAME: hasura
      HASURA_EXPOSE_PORT: 5000

  api:
    image: emjpm_api
    build:
      context: .
      dockerfile: ./packages/api/Dockerfile.dev
    volumes:
      - ./.dev-secrets:/secrets:ro
      - ./:/app
    ports:
      - 4000:4000
    restart: always
    environment:
      AUTH_PUBLIC_KEY_FILE: /secrets/public.pem
      AUTH_PRIVATE_KEY_FILE: /secrets/private.pem
      DATABASE_URL: ${DATABASE_URL-psql://emjpm:test@db/emjpm}
      HASURA_WEB_HOOK_SECRET: ${HASURA_WEB_HOOK_SECRET:-localdevunsecuresecret}
      HASURA_GRAPHQL_URI: ${HASURA_GRAPHQL_URI:-http://hasura:8080/v1/graphql}
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET:-admin}
      APP_URL: "localhost:3000"
      SMTP_HOST: "${SMTP_HOST:-}"
      SMTP_PORT: "${SMTP_PORT:-}"
      SMTP_USER: "${SMTP_USER:-}"
      SMTP_PASS: "${SMTP_PASS:-}"
      SMTP_FROM: "${SMTP_PORT:-}"
      OCMI_SYNC_FILE_ENABLED: "${OCMI_SYNC_FILE_ENABLED:-}"
      OCMI_SYNC_FILE_LOCAL: "true"
      OCMI_FILE_PASSWORD: ${OCMI_FILE_PASSWORD:-}
      LOG_REQUESTS: ${LOG_REQUESTS:-false}

volumes:
  emjpm-pgdata:
