version: "3"

#
# In production we can start more services
#
# Listening ports :
#
#  - 5434 : postgres
#  - 5000 : frontend
#  - 4000 : api
#  - 3003 : metabase
#

services:
  db:
    environment:
      # master password
      - POSTGRES_PASSWORD=masterPassword
      # API dedicated password
      - POSTGRES_API_USER_PASSWORD=apiPassword
      - POSTGRES_READONLY_USER_PASSWORD=readonlyPassword
  metabase:
    restart: always
    image: metabase/metabase
    volumes:
      # persist config
      - metabase:/data
    environment:
      - MB_DB_FILE=/data/metabase.db
    ports:
      - 3003:3000
  api:
    restart: always
    build:
      context: packages/api
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - 4000:$API_PORT
    depends_on:
      - db
    links:
      - db
  frontend:
    restart: always
    env_file: .env
    build:
      context: ./packages/app
      dockerfile: Dockerfile
      #
      # this app is built statically so we cannot inject env vars at runtime
      # we use args to expose them as env var *during the build phase, inside the container*
      #
      args:
        API_URL: "/api"
        SENTRY_PUBLIC_DSN: $SENTRY_PUBLIC_DSN
    ports:
      - 5000:80

volumes:
  metabase:
