version: "3"

#
# In development we only start postgres server
#
# Listening ports :
#  - 5434 : postgres
#

services:
  db:
    container_name: emjpm-postgres
    build:
      context: ./docker/postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      # master password
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=test
      # API dedicated password
      - POSTGRES_API_USER=api
      - POSTGRES_API_USER_PASSWORD=test
      - POSTGRES_READONLY_USER_NAME=readonly
      - POSTGRES_READONLY_USER_PASSWORD=readonlyPassword
    ports:
      - "5434:5432"
    volumes:
      - emjpm-pgdata:/var/lib/postgresql/data

  graphql-engine:
    image: hasura/graphql-engine:v1.0.0-beta.2
    ports:
      - 5000:8080
    depends_on:
      - db

    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:test@db:5432/emjpm_dev
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true" # set to "false" to disable console
      HASURA_GRAPHQL_ADMIN_SECRET: secret
      HASURA_GRAPHQL_JWT_SECRET: '{"type": "RS256","jwk_url": "$API_URL_DOCKER:4000/api/v2/auth/jwks"}'
      ## uncomment next line to set an admin secret

volumes:
  emjpm-pgdata:
