version: "3.8"
services:
  db:
    image: emjpm_postgres_prod
    build:
      context: ./docker/postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      # master password
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=test
    ports:
      - "5434:5432"
    volumes:
      - emjpm-pgdata:/var/lib/postgresql/data
    restart: always

  maildev:
    image: djfarrelly/maildev
    command: bin/maildev --web 1080 --smtp 1025 --hide-extensions STARTTLS
    ports:
      - "1025:1025"
      - "1080:1080"
    restart: always

  hasura:
    image: ${REGISTRY:-registry.gitlab.factory.social.gouv.fr/socialgouv/emjpm}/hasura:${TAG:-local}
    build:
      context: .
      dockerfile: ./packages/hasura/Dockerfile
    ports:
      - 5000:8080
    depends_on:
      - db
      - api
    restart: always
    environment:
      HASURA_GRAPHQL_ADMIN_SECRET: $HASURA_GRAPHQL_ADMIN_SECRET
      HASURA_GRAPHQL_DATABASE_URL: postgres://emjpm:test@db:5432/emjpm
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_JWT_SECRET: '{"type": "RS256","jwk_url": "http://api:4000/api/auth/jwks"}'
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: "anonymous"
      HASURA_WEB_HOOK_BASE_URL: $HASURA_WEB_HOOK_BASE_URL
      HASURA_WEB_HOOK_SECRET: $HASURA_WEB_HOOK_SECRET

  app:
    image: ${REGISTRY:-registry.gitlab.factory.social.gouv.fr/socialgouv/emjpm}/app:${TAG:-local}
    build:
      context: .
      dockerfile: ./packages/app/Dockerfile
      args:
        BUILD_ENV: ${BUILD_ENV:-pure}
      shm_size: 2gb
    shm_size: 2gb
    volumes:
      - ./.dev-secrets:/secrets:ro
    ports:
      - 3000:3000
    restart: always
    environment:
      PORT: 3000
      AUTH_PUBLIC_KEY_FILE: /secrets/public.pem
      AUTH_PRIVATE_KEY_FILE: /secrets/private.pem

  api:
    image: ${REGISTRY:-registry.gitlab.factory.social.gouv.fr/socialgouv/emjpm}/api:${TAG:-local}
    build:
      context: .
      dockerfile: ./packages/api/Dockerfile
      args:
        BUILD_ENV: ${BUILD_ENV:-pure}
    volumes:
      - ./.dev-secrets:/secrets:ro
    ports:
      - 4000:4000
    restart: always
    environment:
      AUTH_PUBLIC_KEY_FILE: /secrets/public.pem
      AUTH_PRIVATE_KEY_FILE: /secrets/private.pem
      DATABASE_URL: $DATABASE_URL

volumes:
  emjpm-pgdata:
