version: "3.8"

#
# In development we only start postgres server
#
# Listening ports :
#  - 5000 : hasura
#  - 5432 : postgres
#

services:
  db:
    container_name: emjpm-postgres
    build:
      context: ./docker/postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      # master password
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=test
    ports:
      - "5432:5432"
    volumes:
      - emjpm-pgdata:/var/lib/postgresql/data
    restart: always

  maildev:
    image: djfarrelly/maildev
    command: bin/maildev --web 1080 --smtp 1025 --hide-extensions STARTTLS
    ports:
      - "1025:1025"
      - "1080:1080"
    restart: always

  graphql-engine:
    build:
      context: ./packages/hasura
    ports:
      - 5000:8080
    depends_on:
      - db
      - emjpm
    restart: always
    environment:
      HASURA_GRAPHQL_ADMIN_SECRET: $HASURA_GRAPHQL_ADMIN_SECRET
      HASURA_GRAPHQL_DATABASE_URL: postgres://emjpm:test@db:5432/emjpm
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_JWT_SECRET: '{"type": "RS256","jwk_url": "$API_URL_DOCKER/api/auth/jwks"}'
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: "anonymous"
      HASURA_WEB_HOOK_BASE_URL: $HASURA_WEB_HOOK_BASE_URL
      HASURA_WEB_HOOK_SECRET: $HASURA_WEB_HOOK_SECRET

  emjpm:
    image: node:10-alpine
    user: "node"
    working_dir: /home/node/app
    volumes:
      - ./.dev-secrets:/secrets:ro
      - ./:/home/node/app
    ports:
      - 3000:3000
      - 4000:4000
    restart: always
    command: "yarn dev"
    environment:
      AUTH_PUBLIC_KEY_FILE: /secrets/public.pem
      AUTH_PRIVATE_KEY_FILE: /secrets/private.pem

volumes:
  emjpm-pgdata:
