#

.base_docker_image_stage:
  image: docker:$DOCKER_VERSION
  services:
    - docker:$DOCKER_VERSION-dind

#

.base_docker_kube_image_stage:
  image: $CI_REGISTRY/socialgouv/docker/kubectl:0.7.1
  before_script:
    - source ./.gitlab-ci/env.sh
    - kubectl config set-context --current --namespace=${K8S_NAMESPACE}
    - if [ -n "${PRODUCTION+x}" ]; then SUFFIX=".prod"; else SUFFIX=".dev"; fi

.base_docker_helm_image_stage:
  extends: .base_docker_kube_image_stage
  image: $CI_REGISTRY/socialgouv/docker/helm:0.7.1

.base_docker_helm_social_gouv_image_stage:
  extends: .base_docker_helm_image_stage
  before_script:
    - source ./.gitlab-ci/env.sh
    - kubectl config set-context --current --namespace=${K8S_NAMESPACE}
    - helm init --client-only
    - helm repo add socialgouv https://github.com/SocialGouv/helm-charts/releases/download/v2.4.2

#

.base_register_stage:
  extends: .base_docker_image_stage
  before_script:
    - echo "$CI_JOB_TOKEN" | docker login $CI_REGISTRY -u gitlab-ci-token --password-stdin
  script:
    - >
      if [[ -n "${CI_COMMIT_TAG}" ]]; then
        export TAG=$(printf "${CI_COMMIT_TAG}" | sed "s/^v//")
      else
        export TAG=$CI_COMMIT_REF_SLUG
      fi
    #
    - docker pull $IMAGE_NAME:$CI_COMMIT_BEFORE_SHA || true
    - docker pull $IMAGE_NAME:$TAG || true
    - docker pull $IMAGE_NAME:master || true
    - echo "> docker build $DOCKER_BUILD_ARGS --cache-from $IMAGE_NAME:$CI_COMMIT_BEFORE_SHA --cache-from $IMAGE_NAME:$TAG --cache-from $IMAGE_NAME:master -t $IMAGE_NAME:$CI_COMMIT_SHA -t $IMAGE_NAME:$TAG $CONTEXT"
    - docker build $DOCKER_BUILD_ARGS --cache-from $IMAGE_NAME:$CI_COMMIT_BEFORE_SHA --cache-from $IMAGE_NAME:$TAG --cache-from $IMAGE_NAME:master -t $IMAGE_NAME:$CI_COMMIT_SHA -t $IMAGE_NAME:$TAG $CONTEXT
    - docker push $IMAGE_NAME:$CI_COMMIT_SHA
    - docker push $IMAGE_NAME:$TAG

.base_use_previous_image_stage:
  extends: .base_register_stage
  script:
    #
    - >
      if [[ -n "${CI_COMMIT_TAG}" ]]; then
        export TAG=$(printf "${CI_COMMIT_TAG}" | sed "s/^v//")
      else
        export TAG=$CI_COMMIT_REF_SLUG
      fi
    #
    - docker pull $IMAGE_NAME:master &&
        export CACHE_TAG=master || true
    - docker pull $IMAGE_NAME:$TAG &&
        export CACHE_TAG=$TAG || true
    - docker pull $IMAGE_NAME:$CI_COMMIT_BEFORE_SHA &&
        export CACHE_TAG=$CI_COMMIT_BEFORE_SHA || true
    #
    - echo "> docker tag $IMAGE_NAME:$CACHE_TAG $IMAGE_NAME:$CI_COMMIT_SHA"
    - docker tag $IMAGE_NAME:$CACHE_TAG $IMAGE_NAME:$CI_COMMIT_SHA
    - docker push $IMAGE_NAME:$CI_COMMIT_SHA
    #
    - echo "> docker tag $IMAGE_NAME:$CACHE_TAG $IMAGE_NAME:$TAG"
    - docker tag $IMAGE_NAME:$CACHE_TAG $IMAGE_NAME:$TAG
    - docker push $IMAGE_NAME:$TAG
