---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: ${K8S_PROJECT}-${CONTEXT}-${BRANCH_HASH}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ${K8S_PROJECT}-${CONTEXT}-${BRANCH_HASH}
        git/branch: ${BRANCH_NAME}
      annotations:
        git/commit: ${COMMIT}
        gitlab/job: "${JOB_ID}"
    spec:
      containers:
        - image: ${IMAGE_NAME}:${IMAGE_TAG}
          name: ${K8S_PROJECT}-${CONTEXT}
          imagePullPolicy: "IfNotPresent"
          resources:
            requests:
              cpu: 250m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          ports:
            - containerPort: 8080
          env:
            - name: HASURA_GRAPHQL_DATABASE_URL
              value: "postgres://${POSTGRESQL_USER}:${POSTGRESQL_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DATABASE}"
            - name: HASURA_GRAPHQL_ENABLE_CONSOLE
              value: "true"
            - name: HASURA_GRAPHQL_ADMIN_SECRET
              valueFrom:
                secretKeyRef:
                  name: emjpm-secret
                  key: HASURA_GRAPHQL_ADMIN_SECRET
            - name: HASURA_GRAPHQL_JWT_SECRET
              value: '{"type": "RS256","jwk_url": "http://${K8S_PROJECT}-api-${BRANCH_HASH}/api/v2/auth/jwks"}'
            - name: WHATEVER_URL
              value: "http://${K8S_PROJECT}-graphql-server-${BRANCH_HASH}"
