.panel {
    width: 100%;
    color: #fff;
    background: #e6e6e6;

}

.panel__container {
    min-height: 6vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    padding-top: 1.5em;

}


