image:
  repository: registry.gitlab.factory.social.gouv.fr/socialgouv/emjpm/hasura
  tag: latest
  pullPolicy: IfNotPresent
secretName: emjpm-secret
replicas: 1
labels: {}
host: hasura-emjpm.dev2.fabrique.social.gouv.fr
# tlsSecretName: hasura-certificate
tlsSecretName: wildcard-crt
fullnameOverride: ''
nameOverride: ''
ingress:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/limit-connections: '20'
    nginx.ingress.kubernetes.io/limit-rps: '50'
    nginx.ingress.kubernetes.io/limit-burst-multiplier: '5'
resources:
  limits:
    cpu: 250m
    memory: 1280Mi
  requests:
    cpu: 10m
    memory: 1024Mi
