.yearpicker {
  height: 44px;
  width: 100%;
  padding-left: 14px;

  border: solid 1px #d4d4d4;
  border-radius: 5px;
  &:focus,
  &:active,
  &:focus-visible,
  &:focus-within {
    outline: none;
    border: solid 1px #0072ca !important;
  }
  .has-error & {
    border: solid 1px #ff6966 !important;
  }
}
