.yearpicker {
  height: 44px;
  width: 100%;
  padding-left: 14px;

  border: solid 1px #D4D4D4;
  border-radius: 5px;
  &:focus,
  &:active,
  &:focus-visible,
  &:focus-within {
    outline: none;
    border: solid 1px #007AD9 !important;
  }
  .has-error & {
    border: solid 1px #FF6966 !important;
  }
}
