/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {*/
/*background-color: #eaeced;*/
/*}*/

.red {
  background-color: #f05659;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
}
.green {
  background-color: #43b04a;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.orange {
  background-color: #eb9123;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.gris {
  background-color: grey;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.redrectangle {
  background-color: #f05659;
  width: 100px;
  color: white;
  height: 40px;
  display: inline-block;
}
.greenrectangle {
  background-color: #43b04a;
  width: 100px;
  color: white;
  height: 40px;
  display: inline-block;
}
.orangerectangle {
  background-color: #eb9123;
  width: 100px;
  color: white;
  height: 40px;
  display: inline-block;
}

.grisrectangle {
  background-color: grey;
  margin-bottom: 2px;
  width: 300px;
  color: white;
  height: 33%;
  display: inline-block;
}
.greenrectangleModal {
  background-color: #6ba650;
  width: 200px;
  color: white;
  height: 40px;
  display: inline-block;
}
.Modal {
  position: absolute;
  width: 900px !important;
  height: 500px !important;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  background-color: #f2f2f2;
}

.ModalInformation {
  position: absolute;
  width: 900px !important;
  height: 450px !important;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  background-color: #f2f2f2;
  overflow: scroll;
  opacity: 2;
}
.ModalMesure {
  position: absolute;
  width: 30% !important;
  height: 30% !important;
  top: 40%;
  left: 40%;
  right: 60px;
  bottom: 60px;
  background-color: #f2f2f2;
  overflow: scroll;
  opacity: 2;
}

.ModalEditMandataire {
  width: 700px !important;
  height: 500px !important;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #f2f2f2;
  overflow: scroll;
  opacity: 2;
}

.ModalMesureUpdate {
  position: absolute;
  width: 600px !important;
  height: 400px !important;
  top: 30%;
  left: 30%;
  right: 60px;
  bottom: 60px;
  background-color: #f2f2f2;
  overflow: scroll;
  opacity: 2;
}

.ModalInputMesure {
  position: absolute;
  width: 450px !important;
  height: 400px !important;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  background-color: #f2f2f2;
  overflow: scroll;
  opacity: 2;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9000;
}
.OverlayInput {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9000;
}

.FicheMandataireModal {
  position: relative;
  width: 800px !important;
  max-width: 90% !important;
  height: 600px !important;
  max-height: 90% !important;
  margin: 0 auto;
  margin-top: calc(10vh);
  background-color: #f2f2f2;
  overflow: scroll;
}
/*.leaflet-container {*/
/*height: 400px !important;*/
/*}*/

/*.leaflet-marker-icon {*/
/*background-image: url("../images/icone-lieu.jpg");*/
/*background-repeat: no-repeat;*/
/*background-position: center center;*/
/*}*/
.react-tabs__tab--selected {
  border-color: white !important;
  color: black !important;
}
.react-tabs__tab {
  color: blue !important;
}
#root__title {
  text-align: left;
  padding-left: 10px;
  font-size: 1.3em;
}

.mesure_button {
}

#root_co_comment {
  height: 70px;
}

/*#root_nom {*/
/*width: 150px;*/
/*display: inline-block;*/
/*}*/
/*#root_prenom {*/
/*width: 150px;*/
/*display: inline-block;*/
/*}*/
/*#root_adresse {*/
/*width: 300px;*/
/*display: inline-block;*/
/*}*/
/*#root_email {*/
/*width: 300px;*/
/*display: inline-block;*/
/*}*/

/*#root_commune {*/
/*width: 123px;*/
/*display: inline-block;*/
/*}*/
/*#root_etablissement {*/
/*width: 123px;*/
/*display: inline-block;*/
/*}*/
/*#root_codePostal {*/
/*width: 195px;*/
/*display: inline-block;*/
/*}*/
/*#root_annee {*/
/*width: 195px;*/
/*display: inline-block;*/
/*}*/
/*#root_residence {*/
/*width: 195px;*/
/*display: inline-block;*/
/*}*/
/*#root_username {
  width: 195px;
  padding-left: 3px;
  margin-left: 0px;
}*/
#root_password {
  width: 195px;
  margin-left: 0px;
  padding-left: 3px;
}
/*#root_civilite {*/
/*width: 123px;*/
/*}*/
.react-tabs__tab {
  text-align: center;
  height: 60px;
  color: black !important;
  background-color: #ebeff2;
  border-radius: 0px !important;
  border: 0px;
}
.react-tabs__tab-list {
  margin-bottom: 0px !important;
  background-color: #cad4de;
  border: 0px !important;
}
.react-tabs__tab--selected {
  color: black !important;
  background-color: #ffffff;
}

.form-group {
  padding-left: 10px;
  text-align: left;
  display: inline-block;
  margin-right: 10px;
}

.form__commentaire .form-group {
  margin-left: 0;
  padding-left: 0;
}

.form__commentaire textarea {
  width: 350px;
  max-width: 100%;
}

.input_mesure_ouverture {
  width: 200px;
  display: inline-block;
}

.input_mesure_type {
  width: 310px;
  display: inline-block;
}

.input_mesure_annee input {
  width: 80px;
  display: inline-block;
}

.input_mesure_residence {
  width: 230px;
  display: inline-block;
}

.input_mesure_commune {
  width: 135px;
  display: inline-block;
}
.input_mesure_ville {
  width: 230px;
  display: inline-block;
}

.input_mesure_civilite {
  width: 230px;
  display: inline-block;
}

/*. INSCRIPTION */

.Inscription .input__long {
  width: 80%;
}
.Inscription .input__code_postal {
  width: 10%;
  min-width: 100px;
}
.Inscription .input__ville {
  width: 60%;
}

.field-radio-group .radio label span span {
  margin-left: 10px;
}

.input_mesure_lieuDeVie {
  display: block;
}

.rt-table .rt-tr-group {
  max-height: 65px;
}
