#

include:
  - /.k8s/metabase/.k8s-deploy-metabase.yml
  - /.k8s/postgres/.k8s-deploy-postgres.yml


#
#
#

#

# .deploy_postgres:
#   extends:
#     - .k8s-deploy-postgres
#     - .deploy_stage
#   variables:
#     CONTEXT: postgres
#     EMJPM_REGISTRY: $CI_REGISTRY_IMAGE
#     IMAGE_NAME: $CI_REGISTRY_IMAGE/postgres
#     PORT: 5432

# #

# Deploy postgres (dev):
#   extends:
#     - .deploy_postgres
#     - .dev_stage
#   variables:
#     PERSISTENCE_ENABLED: "false"

# Backup postgres (incubateur):
#   stage: Prepare
#   extends:
#     - .base_docker_kubectl_image_stage
#     - .incubateur_stage
#   script:
#     - source ./.gitlab-ci/env.sh
#     - kubectl config set-context --current --namespace=${K8S_NAMESPACE}

#     - kubectl delete configmap ${K8S_PROJECT}-backup-configmap-${BRANCH_HASH} || true
#     - kubectl create configmap ${K8S_PROJECT}-backup-configmap-${BRANCH_HASH}
#       --from-file=./.k8s/postgres/backup/configmap/

#     - kubectl delete job ${K8S_PROJECT}-backup-${BRANCH_HASH} || true
#     - cat .k8s/postgres/backup/job.yml | envsubst | kubectl apply -f -;

# Deploy postgres (incubateur):
#   extends:
#     - .deploy_postgres
#     - .incubateur_stage
#   variables:
#     PERSISTENCE_ENABLED: "true"

#
#
#

Restore postgres data (dev):
  extends:
    - .k8s-restore-postgres-data
    - .deploy_stage
    - .dev_stage
  when: manual

#
#
#

Deploy metabase (incubateur):
  extends:
    - .k8s-deploy-metabase
    - .deploy_stage
    - .incubateur_stage
  variables:
    CONTEXT: metabase
    PORT: 3000
  after_script:
    # NOTE(douglasduteil): re-run env.sh
    # Because the `after_script` runs in a separated shell context.
    # see https://docs.gitlab.com/ee/ci/variables/where_variables_can_be_used.html#execution-shell-environment
    - source ./.gitlab-ci/env.sh
    - echo "Metabase available at - ${METABASE_URL}"
