#

.prepare_stage: &prepare_stage
  extends: .base_register_stage
  stage: "Prepare"
  dependencies: []
  except:
    variables:
      - $PRODUCTION

#

Register socialgouv/emjpm base image:
  <<: *prepare_stage
  variables:
    CONTEXT: .
    DOCKER_BUILD_ARGS: >-
      --shm-size 600M
    IMAGE_NAME: $CI_REGISTRY_IMAGE

Register postgres image:
  <<: *prepare_stage
  variables:
    CONTEXT: ./docker/postgres
    DOCKER_BUILD_ARGS: ""
    IMAGE_NAME: $CI_REGISTRY_IMAGE/postgres
