.UserMenu-AriaMenuButton {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.UserMenu-AriaMenuButton-trigger {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  padding: 6px 10px;
}

.UserMenu-AriaMenuButton-trigger:hover,
.UserMenu-AriaMenuButton-trigger:focus,
.UserMenu-AriaMenuButton-trigger.is-open {

}

.UserMenu-AriaMenuButton-trigger:active,
.UserMenu-AriaMenuButton-trigger.is-open {

}

.UserMenu-AriaMenuButton-menu {
  background: #fff;
  border: 1px solid rgba(200, 200, 200, 0.4);
  list-style-type: none;
  left: 0;
  z-index: 99;
  padding-left: 0;
  border-radius: 3px;
  margin: 4px 0 0 0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.UserMenu-AriaMenuButton-menu--flushRight {
  right: 0;
}

.UserMenu-AriaMenuButton-menuItem {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #EEE;
  text-align: left;
}

.UserMenu-AriaMenuButton-menuItemWrapper:first-of-type .UserMenu-AriaMenuButton-menuItem {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.UserMenu-AriaMenuButton-menuItemWrapper:last-of-type .UserMenu-AriaMenuButton-menuItem {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.UserMenu-AriaMenuButton-menuItem:hover,
.UserMenu-AriaMenuButton-menuItem:focus {
  background-color: #4183C4;
  color: #fff;
}

.UserMenu-AriaMenuButton-menuItem.is-selected {
  cursor: default;
  font-weight: bold;
}
